.bg-myphoto-welcome {
    background-image: url('/images/skyline.png');
    background-size: cover;
    columns: #504747;
}

.myphoto-section {
    min-height: 500px;
}

.bg-myphoto-dark {
    background-color: #504747;
    color: white;
}

.bg-myphoto-light {
    background-color: white;
    color: #504747;
}

.navbar-myphoto {
    background-color: #504747;
    border-color: black;
    border-radius: 0;
    margin-bottom: 0px;
}
