@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ol>
    <li><a asp-action="Step01">Step01</a></li>
    <li><a asp-action="Example01">Example01</a></li>
    <li><a asp-action="Example02">Example02</a></li>
    <li><a asp-action="Example03">Example03</a></li>
    <li><a asp-action="Example04">Example04</a></li>
    <li><a asp-action="Example05">Example05</a></li>
    <li><a asp-action="Example06">Example06</a></li>
    <li><a asp-action="Example07">Example07</a></li>
    <li><a asp-action="Example08">Example08</a></li>
    <li><a asp-action="Example09">Example09</a></li>
    <li><a asp-action="Example10">Example10</a></li>
    <li><a asp-action="Example11">Example11</a></li>
</ol>