
@{
    ViewData["Title"] = "Step01";
}

<h1>Step01</h1>

<div class="container-fluid bg-primary myphoto-section bg-myphoto-dark">
    <div class="row">
        <h3>Welcome</h3>
    </div>
</div>
<div class="container-fluid bg-info myphoto-section bg-myphoto-light">
    <div class="row">
        <h3>Services</h3>
    </div>
</div>
<div class="container-fluid bg-success">
    <div class="row">
        <h3>Gallery</h3>
    </div>
</div>
<div class="container-fluid bg-warning">
    <div class="row">
        <h3>About</h3>
    </div>
</div>
<div class="container-fluid bg-danger">
    <div class="row">
        <h3>Contact Us</h3>
    </div>
</div>
<footer>Footer placeholder</footer>