
@{
    ViewData["Title"] = "Example10";
}

<h1>Example10</h1>

<div class="container">
    <h1>Our Print Sizes</h1>
    <div class="row">
        <div class="col-6 col-sm-3">
            <h5>Small</h5>
            <div class="row">
                <div class="col">6x5</div>
                <div class="col">8x10</div>
                <div class="col">11x17</div>
            </div>
        </div>
        <div class="col-6 col-sm-3 push-sm-3">
            <h5>Medium</h5>
            <div class="row">
                <div class="col">12x18</div>
                <div class="col">16x20</div>
                <div class="col">18x24</div>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <h5>Large</h5>
            <div class="row">
                <div class="col">19x27</div>
                <div class="col">20x30</div>
                <div class="col">22x28</div>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <h5>Extra Large</h5>
            <div class="row">
                <div class="col">24x36</div>
                <div class="col">27x39</div>
                <div class="col-6" style="background: lightblue;">27x40</div>
            </div>
        </div>
    </div>
</div>

<h1>My Test</h1>
<div class="container">
    <div class="row">
        <div class="col-3">24x36</div>
        <div class="col-3">27x39</div>
        <div class="col-md-auto" style="background: lightblue;">Other dimensions Other dimensions Other dimensions</div>
    </div>
    <div class="row">
        <div class="col">19x27</div>
        <div class="col">20x30</div>
        <div class="w-100"></div>
        <div class="col">22x28</div>
    </div>
</div>