@{
    ViewData["Title"] = "Home Page";
}

    <ol>
        <li><a asp-action="Example10">Example10</a></li>
        <li><a asp-action="Example11">Example11</a></li>
        <li><a asp-action="Example12">Example12</a></li>
        <li><a asp-action="Example13">Example13</a></li>
        <li><a asp-action="Example14">Example14</a></li>
    </ol>